body {
    font-family: 'Roboto', sans-serif;;
}

/* UTILITY */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.w60 {
    width: 60%;
}

.w39 {
    width: 39%;
}

.mb {
    margin-bottom: .8rem;
}

.pd-t50 {
    padding-top: 50px;
}
 
.pd-b50 {
    padding-bottom: 50px;
}

/* HEADER */
/* nav-bar */
.nav-bar {
    max-width: 100%;
    height: 60px;
    padding: 15px;
}

.nav-bar .brand img {
    vertical-align: middle;
    height: 30px;
}

/* hamburguer finish at 992px */
.nav-bar .toggle {
    display: inline-block;
    padding-left: 5px;
    color: #162D5B;
    font-size: .9rem;
}

.nav-bar .toggle .hamburguer {
    display: inline-block;
    font-size: 1.7rem;
    color: #177EFC;
}

/* nav-bar middle starts at 992px */
.complete-nav-bar {
    display: none;
    padding-top: 5px;
}

.nav-bar .complete-nav-bar ul {
    list-style: none;
}

.nav-bar .complete-nav-bar ul li,
.nav-bar .toggle ul li {
    display: inline-block;
}

.nav-bar .complete-nav-bar ul li a {
    padding-left: 10px;
    color: #162D5B;
    font-size: .9rem;
    text-decoration: none;
}

.nav-bar .complete-nav-bar ul li i,
.nav-bar .toggle ul li i {
    font-size: .8rem;
}

/* nav-bar right starts at 992px */
.nav-bar .toggle ul {
    display: none;
    padding-top: 5px;
    list-style: none;
}

.nav-bar .toggle ul li:not(li:last-child) a {
    padding-left: 10px;
    color: #162D5B;
    font-size: .9rem;
    text-decoration: none;
}

/* nav-bar toggle button */
.btn {
    margin-left: 10px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #6FABFF;
    border-radius: 4px;
}

.btn-color {
    color: #6FABFF;
    text-decoration: none;
}

/* MAIN CONTENT */
.viewport-img{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position-x: center;
}

/* hero text */
.viewport-img .container .hero-text h1 {
    color: #fff;
}

.viewport-img .container .hero-text p {
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 255, 255, .6);
}

/* form box */
.form-box {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 5px;
}

/* form text */
.form-header h2:first-child {
    color: #162D5B;
}

.form-header h2:last-child {
    color: #177EFC;
}

.form-fix {
    width: 100%;
    height: 30px;
    border: 1px solid #80808042;
    border-radius: 4px;
}

.btn2 {
    display: inline-block;
    width: 100%;
    padding: 5px;
    font-size: .8rem;
    font-weight: 700;
    color: #fff;
    background-color: #579AFF;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn3 {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: #656565;
    font-size: .8rem;
    font-weight: 700;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 2px 1px 1px rgba(192, 190, 190, 0.753);
    text-decoration: none;
}

.btn3 img {
    position: absolute;
    height: 1rem;
    left: 5px;
}

.terms {
    color: #243A65;
    font-size: .8rem;
}

.terms a {
    color: #1779FF;
}

/* MEDIA QUERY */
@media screen and (min-width:768px) and (max-width:991px) {
    .viewport-img .container .hero-text h1 {
        font-size: 2.5rem;
    }

    .viewport-img .container .hero-text p {
        font-size: 1.4rem;
    }

    .form-header h2:first-child {
        font-size: 2rem;
    }
    
    .form-header h2:last-child {
        font-size: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .nav-bar {
        padding: 15px 0px;
    }

    .complete-nav-bar {
        display: inline-block;
    }

    .nav-bar .toggle .hamburguer {
        display: none;
    }

    .nav-bar .toggle ul {
        display: inline-block;
    }

    /* hero text */
    .viewport-img .container .hero-text h1 {
        font-size: 3.32rem;
    }


}
